.app {
  background: #d9af45;
  min-height: 100vh;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: space;
  flex-direction: column;
}

.todo-list {
  background: #e8e8e8;
  border-radius: 4px;
  padding: 25px 10px;
  margin: 0 auto;
  width: 50%;
}

.todo {
  align-items: center;
  background: #fff;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  margin-bottom: 6px;
  font-size: 20px;
}

.add-todo {
  text-align: center;
  font-size: 20px;
}

.no-todos {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 800;
}

button {
  margin: 3px;
  background: none;
  border-radius: 5px;
  border-color: #d9af45;
  text-transform: uppercase;
  padding: 5px 10px;
  cursor: pointer;
}

input {
  margin: 0 auto;
  display: block;
  width: 50%;
  padding: 5px 0;
  border-color: #333;
  border-radius: 5px;
}
